<div class="wizard" id="ingestManifestWizard">
  <ul class="nav">
    <li>
      <a href="#step-1" class="nav-link">
        Collection
      </a>
    </li>
    <li>
      <a href="#step-2" class="nav-link">
        Manifest
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="step-1" class="tab-pane" role="tabpanel">
      <%= form_tag(batch_ingest_path, id: 'manifest_form', method: 'post') do %>
        <%= hidden_field_tag 'type', 'manifest' %>
        <%= hidden_field_tag 'collection_id' %>

        <h4>Collection for ingest</h4>
        <p>Select the collection to ingest to</p>
        <div class="form-group">
          <div id="collectionsSelectable">
          </div>
        </div>
    </div>
    <div id="step-2" class="tab-pane" role="tabpanel">
        <h4>Select manifest from storage</h4>

        <%= button_tag("Browse", type: 'button', class: 'btn btn-large btn-success', id: "browse-btn",
          'data-toggle' => 'browse-everything', 'data-route' => browse_everything_engine.root_path,
          'data-target' => '#manifest_form' ) %>

        <p id="status">0 items selected</p>
    </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    var collections = JSON.parse('<%= raw escape_javascript(@collections.to_json) %>');
    $("#ingestManifestWizard #collectionsSelectable").jstree({
      'core' : {
        'data' : collections,
        'multiple' : false
      }
    });
  });
</script>
