 <div class="wizard" id="ingestManifestWizard">
    <ul class="nav">
      <li>
        <a href="#step-1" class="nav-link">
          Collection
        </a>
      </li>
      <li>
        <a href="#step-2" class="nav-link">
          Manifest
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="step-1" class="tab-pane" role="tabpanel">
        <%= form_tag(batch_ingest_path, id: 'manifest_form', method: 'post') do %>
          <%= hidden_field_tag 'type', 'manifest' %>
          <%= hidden_field_tag 'collection_id' %>

          <h4>Collection for ingest</h4>
          <p>Select the collection to ingest to</p>
          <div class="form-group">
            <div id="collectionsSelectable">
            </div>
          </div>
      </div>
      <div id="step-2" class="tab-pane" role="tabpanel">
          <h4>Select manifest from storage</h4>

          <%= button_tag("Browse", type: 'button', class: 'btn btn-large btn-success', id: "browse-btn",
            'data-toggle' => 'browse-everything', 'data-route' => browse_everything_engine.root_path,
            'data-target' => '#manifest_form' ) %>

          <p id="status">0 items selected</p>
      </div>
      <% end %>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      var btnFinish = $('<button id="#submit-wizard"></button>').text('Finish')
                                             .addClass('btn btn-info')
                                             .on('click', submitManifestWizard);

      $('#ingestManifestWizard').smartWizard({
        selected: 0,
        theme: 'arrows', // default, arrows, dots, progress
        transition: {
          animation: 'none', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
        },
        autoAdjustHeight: false,
        toolbarSettings: {
          toolbarExtraButtons: [btnFinish]
        }
      });


      $('#browse-btn').browseEverything()
        .done(function(data) { $('#status').html(data.length.toString() + " items selected") })
        .cancel(function()   { window.alert('Cancelled!') });

      $("#ingestManifestWizard").on("leaveStep", function(e, anchorObject, currentStepIndex, nextStepIndex, stepDirection) {
        if (currentStepIndex == 0 && nextStepIndex == 1) {
          if ($('#ingestManifestWizard #collectionsSelectable').jstree('get_selected', true).length == 0) {
            alert('You must select a collection.');
            return e.preventDefault();
          }
        }
      });

      var collections = JSON.parse('<%= raw escape_javascript(@collections.to_json) %>');
      $("#ingestManifestWizard #collectionsSelectable").jstree({
        'core' : {
          'data' : collections,
          'multiple' : false
        }
      });

      function submitManifestWizard() {
        if ($('#ingestManifestWizard #collectionsSelectable').jstree('get_selected', true).length == 0) {
            alert('You must select a collection.');
          $('#ingestManifestWizard').smartWizard("goToStep", 0);
        } else {
          $("#ingestManifestWizard #collection_id").val($('#ingestManifestWizard #collectionsSelectable').jstree('get_selected', true)[0].id);
          $('#manifest_form').submit();
        }
      }
    });
  </script>
